name: ci
on:
  pull_request:
  push:
    branches: [ "main" ]


jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "25"

      - name: Set up Gradle cache
        uses: gradle/actions/setup-gradle@v4

      - name: Run tests
        env:
          HYTALE_DOWNLOADER_CREDENTIALS: ${{ secrets.HYTALE_DOWNLOADER_CREDENTIALS }}
        run: ./gradlew test --no-daemon

